
.email-signup-thankyou{
  font-family:sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #333;
  padding:10%;
  
  .content{
    margin: auto;  /* Magic! */
    max-width:700px;
    color:#333;
    box-shadow: 0 3px 6px rgba(0,0,0,0.55), 0 3px 6px rgba(0,0,0,0.23);
    background:url('https://www.crafta.co.il/images/paper-plane.gif') no-repeat #fff;
    background-position: right 5px bottom 5px;
    background-size: 10em;
    text-align:center;
    position: relative;
    padding:10%;
    border-radius:5px;

    .left-hole,.right-hole{
      position: absolute;
      width:20px; height:20px;
      background:#333;
      border-radius:50%;
      top:15px;
    }
    .left-hole{
      left:15px;
      top:10px;
    }
    .right-hole{
      right:15px;
      top:10px;
    }
    h2,h3{
      text-align:left;
      padding:5% 5% 0% 3%;
      color:#333;
      font-weight:900;
    }
    .main-content{
      > h1 {
        color:#333;
        text-transform:uppercase;
        margin-top:-2%;
        font-size:2.5em;
        font-weight:900;
      }
    }
  }
}
.checked {
  color: orange;
}
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #4CAF50;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
body{
     background: rgb(171,178,177);
    no-repeat centre centre fixed;
    background-size: cover;
    opacity: 80%
}
a:link, a:visited {
  background-color: #4CAF50;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}